.head
.nav

.main
  .main__left
  .main__center
    .main__center__btn
    .main__center__poster
      = image_tag src=""
    .main__center__name
  .main__right
    .main__right__search
    .main__right__comment
.bottom